backend/__pycache__
backend/venv
backend/.env
backend/.vscode
backend/local_test.py
backend/package-lock.json
approuter/node_modules
approuter/.vscode
approuter/resources/webapp/node_modules
.DS_Store
